<h3 class="header">All Groups</h3>
<a *ngFor="let group of this.groups" class="group-container" [routerLink]="['/group', 'g'+group.id]">
    <img *ngIf="group.image_url != null" [src]="group.image_url" [alt]="group.name" class="group-avatar" />
    <div *ngIf="group.image_url == null" class="group-avatar"></div>
    <div class="group-text">
        <p class="name" [class.notification]="group.hasNotification">{{ group.name }}</p>
        <p class="text">Last message on {{ group.updated_at * 1000 | date:'longDate' }}</p>
    </div>
    <div class="group-icon">
        <a [routerLink]="['/group', 'g'+group.id, 'settings']"><i class="material-icons">settings</i></a>
    </div>
</a>
<h3 class="header">Former Groups</h3>
<a *ngFor="let group of this.formerGroups" class="group-container" [routerLink]="['/group', 'g'+group.id]">
    <img *ngIf="group.image_url != null" [src]="group.image_url" [alt]="group.name" class="group-avatar" />
    <div *ngIf="group.image_url == null" class="group-avatar"></div>
    <div class="group-text">
        <p class="name">{{ group.name }}</p>
        <p class="text">Created on {{ group.created_at * 1000 | date:'longDate' }}</p>
    </div>
    <div class="group-icon">
        <i class="material-icons">cached</i>
    </div>
</a>