@import "../../../common_styles";
@import "../../../variables";

@include notification();

h3.header {
  @include subheader();
  margin-left: 1%;
}

.group-avatar {
  @include avatar(50px);
}

a.group-container {
  text-decoration: none;
  transition: background-color $animation-time;
  @include msg-list-container();

  &:hover {
    background-color: $primary-light;
  }

  &:nth-of-type(odd) {
    background-color: $secondary;

    &:hover {
      background-color: $primary-light;
    }
  }

  div.group-text {
    @include msg-list-text();
    flex: 0 auto;
  }

  div.group-icon {
    @include msg-list-icon();
    color: $disabled;
    justify-content: center;
    a {
      @include undolink();
    }

    i {
      transition: $animation-time ease-in-out;
      &:hover {
        transform: rotate(90deg);
        //color: $primary;
      }
    }
  }
}