@import "../../../variables.scss";

app-message:last-child>div.message {
  margin-bottom: 57px;
}

div.message {
  display: flex;
  align-items: stretch;
  padding: 1% 1% 1% 2%;
  justify-content: space-between;
  max-width: 720px;

  .user-avatar {
    height: 40px;
    width: 40px;
    display: block;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 1px solid $disabled;
    background-color: $disabled;
  }

  div.message-text {
    padding: 1%;
    display: flex;
    flex-direction: column;
    width: 600px;
    flex: 1 0 auto;

    p {
      margin: 0;
      font-family: "Encode Sans", sans-serif;
    }

    p.name {
      font-size: 14px;
      letter-spacing: -0.36px;
      color: $disabled;
      position: relative;
      top: -5px;
    }

    p.text {
      font-size: 16px;
      letter-spacing: normal;
      color: black;
      position: relative;
      bottom: 4px;
      left: 1px;

      b.mention {
        cursor: pointer;
      }
    }

    img.image-attachment {
      display: block;
      width: 80%;
      border: 4px solid $secondary-dark;
      margin: auto;
    }

    img.image-attachment:last-child {
      margin-top: 1%;
    }
  }

  div.message-heart {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $primary;
    margin-right: 1%;

    span {
      font-size: 10px;
      font-family: "Encode Sans", sans-serif;
      font-weight: 600;
    }

    i {
      cursor: pointer;
    }
  }
}

div.me {
  background-color: lighten($primary, 15%);
}