<div *ngIf="this.first || this.showTimestamp" class="message-timestamp">{{ message.created_at * 1000 | date:'short' }}</div>
<div (click)="this.toggleDetails()"
     class="message"
     [class.me]="message.user_id == this.myUserId"
     [class.clickable]="message.favorited_by.length != 0"
     [id]="message.id"
     [title]="'Sent at ' + (message.created_at * 1000 | date:'short')">
    <img *ngIf="message.avatar_url != null" class="user-avatar" [src]="message.avatar_url" [alt]="message.name" />
    <div *ngIf="message.avatar_url == null" class="user-avatar">{{ message.name | initials }}</div>
    <div class="message-text">
        <p class="name">
            {{ message.name }}
        </p>
        <p class="text" [innerHTML]="this.finalText"></p>
        <img *ngIf="this.hasImageAttachment" class="image-attachment" [src]="this.imageAttachmentUrl" />
        <div *ngIf="message.favorited_by.length != 0" class="favorites-list" [class.hidden]="!this.favoritesOpen">
            <i class="material-icons">favorite</i>
            <ng-container *ngFor="let member of this.favoritedMembers">
                <img *ngIf="member.image_url != null" class="user-avatar small-avatar" [src]="member.image_url" [alt]="member.nickname" />
                <div *ngIf="member.image_url == null" class="user-avatar small-avatar">{{ member.nickname | initials }}</div>
            </ng-container>
        </div>
    </div>
    <div class="message-heart">
        <i *ngIf="!this.isFavorited" (click)="favoriteMessage()" class="material-icons">favorite_border</i>
        <i *ngIf="this.isFavorited" (click)="unfavoriteMessage()" class="material-icons">favorite</i>
        <span *ngIf="message.favorited_by.length !=0">{{ message.favorited_by.length }}</span>
    </div>
</div>