@import "../../../variables";

.hidden {
  display: none;
}

div.input-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: $secondary;
  max-width: 720px;
  z-index: 10;
  padding: 0 1% 1%;

  div.textbox-container {
    background-color: white;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 3px;

    textarea {
      background-color: transparent;
      outline: none;
      border: none;
      flex: 1 0 auto;
      font-size: 16px;
      font-family: "Encode Sans", sans-serif;
      resize: none;

      &::placeholder {
        color: $secondary-dark;
      }

      &:focus {
        border: none;
      }
    }

    i {
      margin: 1%;
      color: $primary;
      cursor: pointer;
    }
  }
}

div.attachments-container {
  margin: 0;
  padding: 0;

  p {
    margin: 0;
    padding: 0;
    font-size: 12px;
    color: $disabled;
    cursor: pointer;
    text-align:right;
  }
}