<div #messagesContainer class="messages-container" (scroll)="onScroll($event)">
    <ng-container *ngFor="let message of this.messages$ | async | reverse as messages; first as isFirst; index as i;">
        <app-message [message]="message"
                     [previousMessage]="messages[i-1]"
                     [myUserId]="this.myUserId"
                     [conversationId]="this.currentChannelNumber"
                     [first]="isFirst"></app-message>
    </ng-container>
</div>
<app-input [thisUser]="this.state.currentUser" (messageSent)="sendMessageToChannel($event)"></app-input>
<div class="empty-message" [class.hidden]="this.currentChannelIsGroup != null">
    Select a Group or Contact from the sidebar to get started!
</div>