<div #messagesContainer class="messages-container" (scroll)="onScroll($event)">
    <ng-container *ngFor="let message of this.messages$ | async | reverse
     as messageArray; first as isFirst; index as i;">
        <app-message [message]="message"
                     [previousMessage]="messageArray[i-1]"
                     [myUserId]="this.currentUserId"
                     [conversationId]="this.currentChannelNumber"
                     [first]="isFirst"></app-message>
    </ng-container>
</div>