<div *ngIf="this.currentGroup" class="page-wrapper">
    <div class="group-header">
        <img *ngIf="this.currentGroup.image_url != null" [src]="this.currentGroup.image_url" [alt]="this.currentGroup.name" class="group-avatar" />
        <div *ngIf="this.currentGroup.image_url == null" class="group-avatar"></div>
        <div (click)="changeAvatar()" class="group-avatar change">Change</div>
        <div class="group-information">
            <p #groupName class="name group-name" contenteditable (input)="setUpdated()">{{ this.currentGroup.name }}</p>
            <p class="text group-info-l1">{{ this.currentGroup.members.length }} members. A group since {{ this.currentGroup.created_at * 1000 | date:'yyyy' }}.</p>
            <p class="text group-info-l2">{{ this.groupOwnerText }}</p>
            <p #groupDescription class="text group-info-l3" contenteditable (input)="setUpdated()">{{ this.groupDescriptionText }}</p>
        </div>
    </div>
    <div class="buttons">
        <button *ngIf="!this.currentGroup.muted" (click)="mute()">Mute this group</button>
        <button *ngIf="this.currentGroup.muted" (click)="unmute()">Unmute this group</button>
        <button *ngIf="!this.currentGroupOwnerIsMe" (click)="leave()">Leave this group</button>
        <button *ngIf="this.currentGroupOwnerIsMe" class="destroy" (click)="confirmDestroy()">Delete this group</button>
        <button *ngIf="this.detailsEdited" (click)="saveGroupChanges()">Save Changes</button>
    </div>
    <h3 class="subheader">Members</h3>
    <div class="group-members">
        <div *ngFor="let member of this.currentGroup.members | alphabetize:'nickname'" class="group-member">
            <img *ngIf="member.image_url != null" class="user-avatar" [src]="member.image_url" [alt]="member.nickname" />
            <div *ngIf="member.image_url == null" class="user-avatar">{{ member.nickname | initials }}</div>
            <div class="member-text">
                <p class="text">
                    {{ member.nickname }}
                </p>
            </div>
            <div class="group-member-icons">
                <i *ngIf="this.currentGroupOwnerIsMe && member.user_id != this.myUserId" (click)="makeOwner(member)" class="material-icons">arrow_upward</i>
                <i *ngIf="!this.currentGroupOwnerIsMe" class="material-icons" (click)="removeFromGroup(member)">close</i>
            </div>
        </div>
    </div>
    <div class="update-avatar-modal" [class.hidden]="!this.modalOpen">
        <div class="shadow"></div>
        <div class="update-avatar-box">
            <h3 class="subheader">Current Avatar</h3>
            <div class="uploaded-image">
                <img [alt]="this.currentGroup.name" [src]="this.currentGroup.image_url" />
            </div>
            <app-image-upload (onUploaded)="handleAvatarUpdated($event)"></app-image-upload>
            <div class="controls">
                <button (click)="cancelUpdateAvatar()" class="destroy align-left">Cancel</button>
                <button (click)="confirmChange()" class="align-right">Done</button>
            </div>
        </div>
    </div>
</div>