<div id="login-form">
    <h1>Welcome to gmg!</h1>
    <p>
        Before you can start, please visit this page and login using your GroupMe username and password:
    </p>
    <p>
        <a target="_blank" href="https://oauth.groupme.com/oauth/authorize?client_id=m5NGOjpxI2y1ltO04dq6QFWWThBcQak4Jd4kD1kTEbU0lBfx">GroupMe Login</a>
    </p>
    <p>
        Then, copy and pase the token provided into this box:
    </p>
    <form (ngSubmit)="onSubmit(keyInput.value)">
        <input #keyInput required placeholder="the token should look like '2fe283013e329b1293a'" /><br />
        <button>Submit</button>
    </form>
</div>