@import "../../../variables";
@import "../../../common_styles";

h3.subheader {
  @include subheader();
  margin-left: 1%;
}

.user-avatar {
  @include avatar(40px);
}

a.chat-content-wrapper {
  text-decoration: none;
  transition: background-color $animation-time;
  @include msg-list-container();

  &:hover {
    background-color: $primary-light;
  }

  &:nth-of-type(odd) {
    background-color: $secondary;

    &:hover {
      background-color: $primary-light;
    }
  }

  div.chat-text {
    @include msg-list-text();

    p.name>a {
      color: darken($primary, 25%);
      text-decoration: underline;
      text-decoration-skip: ink;
      &:hover {
        color: inherit;
      }
    }
  }
}