$primary: #80D8FF;
$primary-light: lighten($primary, 15%);
$secondary: #E7E7E7;
$secondary-dark: #C4C4C4;
$accent: #3BFFA2;
$disabled: #737373;
$warning: #FFA1A6;
$background: #FCFCFC;

$animation-time: 0.2s;
